:root {
  --basic-gold: #cbb26aff;
  --white: #ffffffff;
  --little-grey: #4a6572ff;
  --white-smoke: #f4f4f2ff;
  --first-black: #1c1c1c;
  --second-black: #0a0a0a;
  --photo-in-back: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url("/images/hero_mirror.png");
}

/* Wersja 2: Granatowo-szary z akcentami złota */
body.scheme2 {
  --basic-gold: #b7950b; /* Złoty akcent */
  --white: #d5d8dc; /* Jasny szary */
  --little-grey: #2e4053; /* Ciemny granatowy */
  --white-smoke: #5d6d7e; /* Szary dymny */
  --first-black: #1b2631; /* Ciemny granat */
  --second-black: #0e1a25; /* Bardzo ciemny granat */
}

/* Wersja 3: Ciemnoszary z białym i srebrnym akcentem */
body.scheme3 {
  --basic-gold: #aab7b8; /* Srebrny */
  --white: #f2f3f4; /* Jasny biały */
  --little-grey: #626567; /* Ciemny szary */
  --white-smoke: #d7dbdd; /* Biało-szary */
  --first-black: #2e2e2e; /* Ciemny szary */
  --second-black: #1a1a1a; /* Bardzo ciemny szary */
}

/* Wersja 4: Ciemny grafit z białym tekstem i srebrnymi akcentami */
body.scheme4 {
  --basic-gold: #5d6d7e; /* Neutralny, stonowany srebrno-szary akcent */
  --white: #f0f3f4; /* Bardzo jasny, biały tekst */
  --little-grey: #b2babb; /* Jasnoszary na dodatkowe akcenty */
  --white-smoke: #e5e8e8; /* Bardzo jasny, neutralny szary */
  --first-black: #2f3640; /* Ciemny grafit jako tło */
  --second-black: #1c1e22; /* Bardzo ciemny, niemal czarny grafit */
}

/* Wersja 5: Głęboki fiolet z jasnym srebrem */
body.scheme5 {
  --basic-gold: #ff8000; /* Głęboki fiolet */
  --white: #e8daef; /* Jasny fioletowy srebrny */
  --little-grey: #d2b4de; /* Pastelowy fiolet */
  --white-smoke: #f5eef8; /* Jasny fiolet */
  --first-black: #1c1c1c; /* Ciemny fioletowy czarny */
  --second-black: #0f0a0f; /* Bardzo ciemny fiolet */
}

/* Wersja 6: Elegancka ciemna zieleń z szarymi i złotymi akcentami */
body.scheme6 {
  --basic-gold: #b7950b; /* Stonowany złoty, elegancki akcent */
  --white: #d5d8dc; /* Jasny, delikatny szary dla tekstu */
  --little-grey: #2e4053; /* Ciemny szaro-zielony odcień */
  --white-smoke: #566573; /* Przygaszony jasnoszary dla subtelnych elementów */
  --first-black: #0b3d3a; /* Bardzo ciemna zieleń jako tło */
  --second-black: #07362f; /* Głębsza ciemna zieleń */
}

body.scheme7 {
  --basic-gold: #5dade2; /* Stonowany niebieski akcent */
  --white: #eaecee; /* Bardzo jasny srebrny tekst */
  --little-grey: #85929e; /* Chłodny, neutralny szary */
  --white-smoke: #d5d8dc; /* Bardzo jasny szary */
  --first-black: #2c3e50; /* Ciemna purpura tło */
  --second-black: #1c2833; /* Bardzo ciemna purpura */
  .hero {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("/images/4.png");
  }
  .hero h1 {
    color: var(--white);
    font-size: 56px;
    font-weight: 700;
    margin: 0 0 10px 30px;
  }
}

body.scheme8 {
  .hero {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("/images/calk-tem-nxt.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    z-index: 1;
    width: 100%;
    height: 80vh;
    margin: 0 auto;
  }
  .hero h1 {
    color: var(--white);
    font-size: 56px;
    font-weight: 100;
    margin: 0 0 10px 30px;
  }
}

body.scheme9 {
  .hero {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("/images/calk-tem-nxt.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    z-index: 1;
    width: 100%;
    height: 80vh;
    margin: 0 auto;
  }
  .hero h1 {
    color: var(--white);
    font-size: 56px;
    font-weight: 100;
    margin: 0 0 10px 30px;
  }
}

body.scheme10 {
  --basic-gold: #5dade2; /* Stonowany niebieski akcent */
  --white: #eaecee; /* Bardzo jasny srebrny dla tekstu */
  --little-grey: #85929e; /* Chłodny, neutralny szary na dodatkowe akcenty */
  --white-smoke: #d5d8dc; /* Bardzo jasny szary dla subtelnych elementów */
  --first-black: #2c3e50; /* Ciemna purpura, główne tło */
  --second-black: #1c2833; /* Bardzo ciemna, niemal czarna purpura */
}
/* Global Styles */
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--second-black);
  color: var(--basic-gold);
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  height: 650px;
}

header {
  background-color: var(--first-black);
  padding: 10px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

nav .logo img {
  height: 65px;
}

nav .menu {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

nav .menu li {
  margin-left: 20px;
}

nav .menu li a {
  text-decoration: none;
  color: var(--basic-gold);
}

nav .contact-info a {
  text-decoration: none;
  color: var(--basic-gold);
  margin-left: 5px;
}

nav .contact-info a:hover,
.menu a:hover {
  color: white;
}

.contact-info {
  display: flex;
  align-items: center;
}
.contact-info__mail {
  margin-right: 10px;
}
.contact__icon {
  fill: var(--basic-gold);
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
}

.hero {
  position: relative;
  background-color: var(--background-grey);
  background-image: var(--photo-in-back);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  z-index: 1;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
}

.hero-content {
  position: absolute;
  top: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 2;
}

.hero-buttons {
  margin: 25px 0 0 35px;
  font-weight: 300;
}
.cta-button {
  margin-top: 20px;
  color: var(--white);
  background-color: var(--basic-gold);
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
}
.cta-button-2 {
  margin: 20px 0 0 25px;
  padding: 10px 20px;
  text-decoration: none;
  background-color: transparent;
  border: 1px solid var(--white);
  color: var(--white);
  border-radius: 5px;
}

.cta-button:hover,
.cta-button-2:hover {
  background-color: var(--first-black);
  color: var(--white);
}

.hero h1 {
  color: var(--basic-gold);
  font-size: 56px;
  font-weight: 100;
  margin: 0 0 10px 30px;
}

.hero p {
  font-size: 32px;
  font-weight: 200;
  color: var(--white);
  margin: 0 0 10px 30px;
}

.about {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.1);
}

.about-content {
  display: flex;
  align-items: center;
  padding-top: 35px;
  margin-left: 15px;
}

.about h2 {
  font-size: 2.5em;
  padding-top: 35px;
}

.about-image img {
  height: 390px;
}

.about-text {
  height: 390px;
  max-width: 700px;
  text-align: left;
  padding-left: 10px;
  padding-top: 10px;
  margin-left: 30px;
  z-index: 0;
  border-radius: 5px;
  margin-right: 15px;
}

.features {
  background-color: var(--background-grey);
  background-image: var(--photo-in-back);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  z-index: 1;
  margin: 0 auto;
  padding: 60px 20px;
  text-align: center;
  z-index: 3;
  position: relative;
}

.features h2 {
  font-size: 2.5em;
  margin-bottom: 40px;
}

.features-list {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  gap: 15px;
  color: var(--second-black);
}

.feature {
  width: 22%;
  background-color: rgba(254, 254, 254, 0.579);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.feature p {
  margin: 10px 0;
  color: var(--second-black);
}

.offer {
  padding: 60px 20px;
  background-color: rgba(255, 255, 255, 0.1);
}

.offer-title {
  font-size: 2.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 35px;
}

.offer-title-p {
  font-size: 1.5em;
  margin-top: 25px;
}

.offer-content {
  display: flex;
  max-width: 1280px;
  margin: 0 auto;
}

.offer-image img {
  max-width: 100%;
  height: 450px;
}

.offer-text {
  width: 60%;
  z-index: 0;
  border-radius: 10px;
  margin-right: 15px;
  padding-left: 15px;
  padding-top: 25px;
}

.contact {
  display: flex;
  padding: 60px 20px;
  background-color: var(--background-grey);
  background-image: var(--photo-in-back);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  z-index: 1;
  margin: 0 auto;
  padding: 60px 20px;
  text-align: center;
  z-index: 3;
  position: relative;
}

.contact-title {
  margin: 35px 0 15px 0;
}
.contact-title2 {
  margin-bottom: 10px;
}
.contact-map iframe {
  border: 0;
  width: 495px;
  height: 495px;
}

.contact-info__footer {
  color: var(--first-black);
  margin-left: 40px;
  height: 495px;
  width: 700px;
  max-width: 1250px;
  text-align: center;
  background-color: rgba(254, 254, 254, 0.579);
  z-index: 0;
  margin-right: 15px;
}

.contact-info__footer p,
.contact-info__footer a {
  color: var(--paynes-gray);
}

.contact-info__footer a {
  text-decoration: none;
  color: var(--first-black);
}

.contact__icon-second {
  fill: var(--first-black);
}

.contact-info__footer a:hover {
  color: var(--white-smoke);
}

.speditors {
  list-style: none;
}

footer {
  background-color: var(--first-black);
  color: var(--basic-gold);
  padding: 20px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1280px;
  margin: 0 auto;
}

.logo__footer {
  margin-left: 15px;
  height: 125px;
  width: 275px;
}

.footer__center {
  text-align: center;
}

.footer__center p {
  margin: 10px 0;
}

.social-links {
  margin: 10px 0;
}

.social-links a {
  color: var(--basic-gold);
  text-decoration: none;
  margin: 0 10px;
}

.social-links a:hover {
  color: var(--white);
}

.footer__privacy {
  margin-right: 35px;
}

.footer__privacy a {
  text-decoration: none;
  color: var(--basic-gold);
}

.footer__privacy a:hover {
  color: var(--white);
}
